<% layout('layouts/boilerplate') -%>
<form action="/register" method="POST">
<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholeder="username" value="<%= username %>" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholeder="password" required>
</div>
<div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholeder="email" value="<%= email %>" required>
</div>
<div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image" placeholeder="image">
</div>
    <input type="submit">
</form>